@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');
:root{
  --pink:  #E96685;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: IBM Plex Sans,-apple-system, Roboto, sans-serif;
  background-color: #100D12;
  scroll-behavior: smooth;
}

a {
  color: var(--pink);
  text-decoration: none;
}


* {
  box-sizing: border-box;
}