.object {
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform: translate(50vmin);
}

.p-orbit {
    border:0.1vmin solid var(--pink);
    opacity: 0.5;
    background: transparent;
}

.planet {
    z-index:100;
    height: 3.5vmin;
    width: 3.5vmin;
}

#sun {
    height: 2em;
    width: 2em;
}


.universe {
    position: relative;
    width: 100%;
}

@media (max-width: 700px){
    .universe{
        left: -50%;
    }
}

@media (min-width: 701px) and (max-width: 879px){
    .universe{
        left: -45%;
    }
}

@media (min-width: 880px) and (max-width: 1007px){
    .universe{
        left: -45%;
    }
}

@media(min-width:1008px) {
    .universe{
        left: -45%;
    }
}

#skills {
    width:100%;
}