.universe {
    position: relative;
    margin:0;
    padding: 0;
}

.object {
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform: translate(0px);
}

.p-orbit {
    border:1px solid var(--pink);
    opacity: 0.5;
    background: transparent;
}

.planet {
    z-index:100;
    height: 40px;
    width: 40px;
}

@media (max-width: 880px) {
    #sun {
        height: 40px;
        width: 40px;
    }

    .planet {
        z-index:100;
        height: 30px;
        width: 30px;
    }

    .universe {
        height: 360px;
    }
}


@media (min-width: 500px) and (max-width: 880px) {
    #skills {
        min-width: 500px;
    }
}
  
@media (min-width: 881px){
    #sun {
        height: 70px;
        width: 70px;
    }
}

@media (min-width: 500px) {
    .universe {
        height:500px;
    }
}

